.section{
    
    border: 1px solid;
    border-color: #FFC3A1;
    background-color: #FFC3A1;
    border-radius: 20px;
    margin: 4px 20px;
    padding: 20px;
}

.section h2{
  text-transform: capitalize;  
}

.section p:first-letter{
    text-transform: capitalize;
}